.grid-Group{
  position:relative;
  width:100%;
  color: #fff;
  min-height: 600px;
  background-color:#5F9EA0;
  overflow: auto;
  padding-bottom: 10px;
}

.grid {
  position: relative;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.item {
  position: absolute;
  width: 98%;
  min-height: 100px;
  margin: 1% 0 0 1%;
  z-index: 1;
  background-color:#A9A9A9;
  border-radius: 5px 5px 5px 5px;
}

.item.select{
  border:1px solid #6495ED;
}
.item:hover{
  /*border:1px solid #00f;*/
}

.item.muuri-item-positioning {
  z-index: 2;
}
.item.muuri-item-dragging,
.item.muuri-item-releasing {
  z-index: 9999;
}
.item.muuri-item-dragging {
  cursor: move;
}
.item.muuri-item-hidden {
  z-index: 0;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.item .item-header{
  background: none repeat scroll 0 0 #F2F2F2;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #dddddd;
  color: #888888;
  font-size: 16px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  padding: 5px 10px;
  cursor:move;
  position: relative;
}

.item-header h3{
  color: #555555;
  font: bold 14px/28px arial;
  margin: 0;
}

.item-header a{
  margin: 10px 0 0;
  padding: 1px;
  top: 0;
  font-size: 11px;
  font-weight: normal;
  position: absolute;
  text-decoration: none;
  -moz-user-select: none;
  float: left;
  width: 16px;
  height: 16px;
}

.item-header .close{
  margin: 10px 0 0;
  padding: 1px;
  top: 0;
  font-size: 11px;
  font-weight: normal;
  position: absolute;
  text-decoration: none;
  -moz-user-select: none;
  float: left;
  width: 16px;
  height: 16px;
}

.item-header .refresh{
  background: url(../images/action-refresh.png) no-repeat scroll 0 0 transparent;
  right: 32px;
}

.item-header .min{
  background: url(../images/action-min.png) no-repeat scroll 0 0 transparent;
  right: 16px;
}
.item-header .max{
  background: url(../images/action-max.png) no-repeat scroll 0 0 transparent;
  right: 16px;
}
.item-header .close{
  background: url(../images/action-close.png) no-repeat scroll 0 0 transparent;
  right: 0;
  /*position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;*/
}

.item-header h3:hover > .close{
  /*display:none;*/
  /*-moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);*/
}

.grid-second{
  padding-bottom: 10px;
}
.grid-second .item{
  width: auto;
  height: 35px;
  min-height: 35px;
  margin: 10px 0 0 10px;
  background-color:#DAA520;
  padding-right: 10px;
}
.grid-second .item:hover{
  /*border:1px solid #f00;*/
}
.grid-second .item-content
{
  font-size: 18px;
  font-family: "微软雅黑";
  line-height: 22px;
  padding: 5px;
}
.grid-second .item-content .content-title{
  display: inline;
  cursor: move;
}
.grid-second .item-content input,select{
  width: 100px;
  font-size: 16px;
  font-family: "微软雅黑";
}

.item-content .content-radio,.content-checkbox
{
  display: inline;
}
.item-content .content-radio input{
  width: 15px;
}
.item-content .content-checkbox input{
  width: 15px;
}

/* menu */
#menu{
  width: 0; /*设置为0 隐藏自定义菜单*/
  height: 125px;
  overflow: hidden; /*隐藏溢出的元素*/
  box-shadow: 0 1px 1px #888,1px 0 1px #ccc;
  position: absolute; /*自定义菜单相对与body元素进行定位*/
  z-index: 10;
  background-color: #fff;
}
.menu{
  width: 130px;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  cursor: pointer;
}
.menu:hover{
  background: #777;
}

/* popup */
#backgroundPopup {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #1d1414;
  z-index: 10;
}

#popupContact {
  display: none;
  position: absolute;
  height: 600px;
  width: 800px;
  background: #fff;
  border: 2px solid #cecece;
  z-index: 11;
  padding: 10px;
  font-size: 13px;
  overflow:auto;
}

#popupContactClose {
  font-size: 14px;
  line-height: 14px;
  right: 6px;
  top: 4px;
  position: absolute;
  color: #6fa5fd;
  font-weight: 700;
  display: block;
  float:right;
}



